@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 
body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  text-shadow: 3px 0 #DA0463;

}

.w {
  background-image: url(images/crash.png) !important;
}

.a {
  background-image: url(images/kick.png) !important;
}

.s {
  background-image: url(images/snare.png) !important;
}

.d {
  background-image: url(images/tom1.png) !important;
}

.j {
  background-image: url(images/tom2.png) !important;
}

.k {
  background-image: url(images/tom3.png) !important;
}

.l {
  background-image: url(images/tom4.png) !important;
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  line-height: 2;
  font-weight: 900;
  color: #000000;
  text-shadow: 3px 0 #666464;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
